@import "../../global.scss";
li {
  font-size: 20px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
  @include mobile {
    margin-right: 10px;
  }
  &:hover.active {
    background-color: $mainColor;
    opacity: 100%;
  }
  &:hover {
    background-color: $mainColor;
    opacity: 50%;
    color: white;
    transition-timing-function: ease-in, ease, linear;
  }
  &.active {
    background-color: $mainColor;
    color: white;
  }
}
